# {{ ansible_managed }}

# Include files from /etc/network/interfaces.d:
source-directory /etc/network/interfaces.d

auto lo
iface lo inet loopback

{% if lan_static.enabled == True %}
auto {{ lan_adapter }}
iface {{ lan_adapter }} inet static
  address {{ lan_static.address }}
  netmask {{ lan_static.netmask }}
  gateway {{ lan_static.gateway }}
{% else %}
iface {{ lan_adapter }} inet manual
{% endif %}

auto {{ wifi_adapter }}
iface {{ wifi_adapter }} inet static
  address {{ own_ip }}
  netmask {{ subnet }}
  network {{ network }}
  broadcast {{ broadcast }}
  post-up /usr/sbin/udhcpd -S /etc/udhcpd.conf

allow-hotplug {{ otg_adapter }} 
iface {{ otg_adapter }} inet static
    address 192.168.42.42
    netmask 255.255.255.0
    network 192.168.42.0
    broadcast 192.168.42.255
    gateway 192.168.42.1

