# keyboard.j2
# KEYBOARD CONFIGURATION FILE

# Consult the keyboard(5) manual page.

XKBMODEL="{{ xkbmodel }}"
XKBLAYOUT="{{ xkblayout }}"
XKBVARIANT="{{ xkbvariant }}"
XKBOPTIONS="{{ xkboptions }}"

BACKSPACE="{{ backspace }}"
